{% load static %}
<div class="banner">
    <ul class="slidebanner">
        {% for slide in slide_show %}
        <li>
            <div class="img-sl">
                <img src="{{slide.image.url}}" alt="">
            </div>
            <div class="txt-slbn">
            {% if slide.content1 %}
                <h2>
                    <a href="#">{{slide.content1}}</a>
                </h2>
            {% endif %}
            {% if slide.content2%}
                <h3>{{slide.content2}}</h3>
            {% endif %}
            {% if slide.link%}
                <a href="{{slide.link}}" class="seemore-bn">Xem chi tiết</a>
            {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>