<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viện thiết kế tàu quân sự</title>
    <link rel="stylesheet" href="{% static 'css/index/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightgallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightslider.min.css' %}">
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}"> {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
    <header>
        {% block header_menu %}
        
        {% endblock header_menu %}
        {% block header_banner %}

        {% endblock header_banner %}
    </header>
    <div id="_jafban"></div>
    {% block body %}

    {% endblock body %}

    <footer>
        <div class="footer">
            <div class="container">
                <div class="footer-ct">
                    <div class="it-ft1">
                        <h3><a href="#">thông tin liên hệ</a></h3>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">Đường Ỷ Lan , Xã Dương Xá , Huyện Gia Lâm , TP. Hà Nội</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">02439.336.234</a></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">+84 2439.336.234</a></li>
                            <li><i class="fa fa-globe" aria-hidden="true"></i><a href="#">vienthietketauquansu</a></li>
                        </ul>
                    </div>
                    <div class="it-ft1">
                        <h3><a href="#">Liên kết</a></h3>
                        <ul>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Sản phẩm</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                        <div class="social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="it-ft1">
                        <h3><a href="#">đăng kí</a></h3>
                        <p>Đăng kí nhận thông tin sản phẩm, báo giá</p>
                        <form action="">
                            <div class="form-ft">
                                <input type="text" placeholder="Tìm kiếm...">
                                <button><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/index/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lightgallery.js' %}"></script>
    <script src="{% static 'js/lightslider.min.js' %}"></script>
    <script src="{% static 'js/slidegalarey.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/swiper.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>