
{% extends 'base.html' %}
{% load static %}
{% block header_menu %}
    {% include 'header_without_banner.html' %}
{% endblock header_menu %}
{% comment %} {% block header_banner %}
    <div class="banner-mn">
        <div class="content-bn">
            <div class="_jctbn">
            </div>
        </div>
    </div>
{% endblock header_banner %} {% endcomment %}

{% block body %}
<div id="lst-news"></div>

    <section>
        <div class="mt-item" style="margin-top: 15px;">
            <div class="container">
                <div class="mtiem-ct">
                    <div class="listitlt">
                    {% for category in categories %}
                        <div class="itlthis">
                            <div class="img-itlt">
                                <a href="{% url 'allProduct' category.slug %}"><img src="{{category.image_url|default_if_none:'#'}}" alt=""></a>
                            </div>
                            <div class="txt-itlt">
                                <a href="{% url 'allProduct' category.slug %}"><h4>{{category.title}}</h4></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% comment %} <div class="seemore-n">
                    <a href="#">xem thêm</a>
                </div> {% endcomment %}
                    <div class="seemore-n">
                        {% comment %} <a href="#">xem thêm</a> {% endcomment %}
                        <div class="pagination">
                            {% if categories.has_previous %}
                                <a class="pagination-action" href="?page=1">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                                <a class="pagination-action" href="?page={{ categories.previous_page_number }}">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            <span class="pagination-current">{{ categories.number }}</span>
                            <span class="pagination-of">của</span>
                            <span class="pagination-total">{{ categories.paginator.num_pages }}</span>
                            {% if categories.has_next %}
                                <a class="pagination-action" href="?page={{ categories.next_page_number }}">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                                <a class="pagination-action" href="?page={{ categories.paginator.num_pages }}">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body%}