
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header_banner %}
    <div class="banner-mn">
        <div class="content-bn">
            <div class="_jctbn">
                <h1>Liên Hệ</h1>
            </div>
        </div>
    </div>
{% endblock header_banner %}
{% block body %}
    <div id="form-contact"></div>
    <section>
        <div class="afcontact">
            <div class="container">
                <div class="cfct-ct">
                    <div class="map-lft">
                        {% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59587.94583116671!2d105.80194401254816!3d21.02281613561579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSMOgIE7hu5lpLCBIb8OgbiBLaeG6v20sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1591200440673!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> {% endcomment %}
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2214.75506065342!2d105.96573753954027!3d21.002279012841793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a8a98101beaf%3A0x97c249a77d3d25cd!2zVmnhu4duIFRoaeG6v3QgS-G6vyBUw6B1IFF1w6JuIFPhu7E!5e0!3m2!1svi!2s!4v1593104547556!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="form-right">
                        <div class="f-tp">
                            <h2>Viện thiết kế quân sự</h2>
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">Đường Ỷ Lan, Xã Dương Xá, Huyện Gia Lâm, TP Hà Nội</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">02439-336-234</a></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">vienthietketauquansu@gmail.com</a></li>
                            <li><i class="fa fa-skype" aria-hidden="true"></i><a href="#">vienthietketauquansu</a></li>
                            </ul>
                        </div>
<form enctype="multipart/form-data" method = "POST">{% csrf_token %}
            {{form.as_p}}
            {% comment %} {{form|crispy}} {% endcomment %}
            <button href="" type="submit" class = "btn btn-danger">Gửi Liên hệ</button>
        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body%}