{% load static %}
<div class="header">
            <div class="">
                <div class="header-ct">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                        {% comment %} <h1>Viện thiết kế tàu quân sự</h1> {% endcomment %}
                    </div>
                    <div class="menu-top">
                        <ul>
                            <li class="see-1"><a href="/">Trang chủ</a></li>
                            <li class="see-1"><a href="{% url 'get_category_article' '8' %}">giới thiệu</a>
                                <ul class="sub-menu1">
                                    <li class="see-2"><a href="/articles/detail/5">Lãnh đạo viện</a></li>
                                    <li class="see-2"><a href="/articles/detail/4">Lịch sử phát triển</a></li>
                                    <li class="see-2"><a href="/articles/detail/1">Chức năng - nhiệm vụ</a></li>
                                    <li class="see-2"><a href="#">Năng lực</a>
                                        <ul class="sub-menu2">
                                            <li><a href="/articles/detail/2">Nhân lực</a>
                                            </li>
                                            <li><a href="/articles/detail/3">Cơ Sở hạ tầng</a></li>
                                        </ul>
                                        <div class="click-mb2">
                                            <i class="fa fa-angle-right"></i>
                                        </div>
                                    </li>
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1"><a href="{% url 'get_category_article' '1' %}">tin tức & sự kiện</a>
                                <ul class="sub-menu1">
                                    {% for category in category_list %}
                                    <li class="see-2"><a
                                            href="{% url 'allpost' category.slug %}">{{ category.title }}</a>
                                    </li>

                                    {% endfor %}
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1"><a href="{% url 'get_category_article' '4' %}">khoa học công nghệ</a>
                                <ul class="sub-menu1">
                                    {% for science in science_list%}
                                    <li class="see-2"><a
                                            href="{% url 'allpost' science.slug %}">{{ science.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1"><a href="{% url 'get_category_product' '1' %}">sản phẩm và dịch vụ</a>
                                <ul class="sub-menu1">
                                {% for prod_category in prod_category_list%}
                                    {% if prod_category.id == 2 %}
                                    <li class="see-2"><a href="{% url 'allProduct' prod_category.slug %}">{{prod_category.title}}</a>
                                    <ul class="sub-menu2">
                                    {% for prod_other in prod_other_category_list %}
                                            <li class="see-2"><a href="{% url 'allProduct' prod_other.slug %}">{{prod_other.title}}</a>
                                    {% endfor %}
                                    </ul>
                                    <div class="click-mb2">
                                        <i class="fa fa-angle-right"></i>
                                    </div>
                                    </li>
                                    {% elif prod_category.id == 9 %}
                                        <li class="see-2"><a href="{% url 'allProduct' prod_category.slug %}">{{prod_category.title}}</a>
                                            <ul class="sub-menu2">
                                            {% for prod_other in prod_standrad_category_list %}
                                                    <li class="see-2"><a href="{% url 'allProduct' prod_other.slug %}">{{prod_other.title}}</a>
                                            {% endfor %}
                                            </ul>
                                            <div class="click-mb2">
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                        </li>
                                    {% else %}
                                    <li class="see-2"><a href="{% url 'allProduct' prod_category.slug %}">{{prod_category.title}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1"><a href="#">liên hệ</a>
                                <ul class="sub-menu1">
                                    <li class="see-2"><a href="{% url 'contact'%}">Thông tin đơn vị</a></li>
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
		    <div class="touch-onmb">
                        <span></span>
                    </div>
                    <div class="bg-clmn"></div>
                </div>
            </div>
        </div>