{% extends 'base.html' %}
{% load static %}
{% block header_menu %}
    {% include 'header_have_banner.html' %}
{% endblock header_menu %}
{% block header_banner %}
    {% include 'banner.html' %}
{% endblock header_banner %}

{% block body %}
<section>
        <div class="allitld">
            <div class="container">
                <div class="aitld-ct">
                    <div class="itld">
                        <div class="img-itld">
                            <a href="#">
                                <img src="{% static 'images/1.jpg' %}" alt=""/>
                            </a>
                        </div>
                        <div class="txt-itld">
                            <h3><a href="/articles/detail/5">Lãnh đạo viện</a></h3>
                            {% comment %} <p>Lãnh đảo của Viện Thiết Kế tàu quân sự là sự tinh túy kết hợp với trí tuệ tài tình đã trèo lái và hoàn thành xuất sắc nhiệm vụ {% endcomment %}
                            <p></p>
                            <a href="/articles/detail/5" class="seemore">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="itld">
                        <div class="img-itld">
                            <a href="#">
                                <img src="{% static 'images/d01b920a9bb561eb38a4.jpg' %}" alt=""/>
                            </a>
                        </div>
                        <div class="txt-itld">
                            <h3><a href="/articles/detail/4">Lịch sử phát triển</a></h3>
                            {% comment %} <p>Những năm đầu đi vào hoạt động, Việt Thiết Kế TQS gặp nhiều khó khăn do cơ sở vật chất, trang thiết bị thiếu thốn {% endcomment %}
                            <p></p>
                            <a href="/articles/detail/4" class="seemore">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="itld">
                        <div class="img-itld">
                            <a href="#">
                                <img src="{% static 'images/1d4293529aed60b339fc.jpg' %}" alt=""/>
                            </a>
                        </div>
                        <div class="txt-itld">
                            <h3><a href="/articles/detail/1">Chức năng - nhiệm vụ</a></h3>
                            {% comment %} Viện Thiết Kế tàu quân sự (TQS) có nhiệm vụ thiết kế đóng mới và cải hóa các TQS; nghiên cứu lắp đặt hiệu chỉnh và tích hợp hệ thống khí tài trên tàu; tham gia thiết kế đóng mới tàu {% endcomment %}
                            <p></p>
                            <a href="/articles/detail/1" class="seemore">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="itld">
                        <div class="img-itld">
                            <a href="#">
                                <img src="{% static 'images/8a9dd98dd0322a6c7323.jpg' %}" alt=""/>
                            </a>
                        </div>
                        <div class="txt-itld">
                            <h3><a href="/articles/detail/3">Năng lực</a></h3>
                            {% comment %} Với sự cố gắng nỗ lực của cán bộ, nhân viên, từ khi thành lập đến nay, viện đã và đang thực hiện hơn 40 đề tài {% endcomment %}
                            <p></p>
                            <a href="/articles/detail/3" class="seemore">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="_jitem"></div>
    <section>
        <div class="spam">
            <div class="container">
                <div class="spam-ct">
                    <div class="slide-itemsp">
                        <div class="img-spam">
                            <div class="lstitem-slit">
                            {% if list_prod.0 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.0.image %}
                                        <a href="{% url 'product:detail' list_prod.0.id %}"><img src="{{list_prod.0.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.0.id %}">{{list_prod.0.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if list_prod.1 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.1.image %}
                                        <a href="{% url 'product:detail' list_prod.1.id %}"><img src="{{list_prod.1.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.1.id %}">{{list_prod.1.title}}</a></h3>
                                    </div>
                                </div>
                                {% endif %}
                            {% if list_prod.2 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.2.image %}
                                        <a href="{% url 'product:detail' list_prod.2.id %}"><img src="{{list_prod.2.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.2.id %}">{{list_prod.2.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if list_prod.3 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.3.image %}
                                        <a href="{% url 'product:detail' list_prod.3.id %}"><img src="{{list_prod.3.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.3.id %}">{{list_prod.3.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                            <div class="lstitem-slit">
                            {% if list_prod.4 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.4.image %}
                                        <a href="{% url 'product:detail' list_prod.4.id %}"><img src="{{list_prod.4.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.4.id %}">{{list_prod.4.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if list_prod.5 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.5.image %}
                                        <a href="{% url 'product:detail' list_prod.5.id %}"><img src="{{list_prod.5.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.5.id %}">{{list_prod.5.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if list_prod.6 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.6.image %}
                                        <a href="{% url 'product:detail' list_prod.6.id %}"><img src="{{list_prod.6.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.6.id %}">{{list_prod.6.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if list_prod.7 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.7.image %}
                                        <a href="{% url 'product:detail' list_prod.7.id %}"><img src="{{list_prod.7.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.7.id %}">{{list_prod.7.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                            <div class="lstitem-slit">
                            {% if list_prod.8 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.8.image %}
                                        <a href="{% url 'product:detail' list_prod.8.id %}"><img src="{{list_prod.8.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.8.id %}">{{list_prod.8.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if list_prod.9 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.9.image %}
                                        <a href="{% url 'product:detail' list_prod.9.id %}"><img src="{{list_prod.9.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.9.id %}">{{list_prod.9.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if list_prod.10 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.10.image %}
                                        <a href="{% url 'product:detail' list_prod.10.id %}"><img src="{{list_prod.10.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.10.id %}">{{list_prod.10.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% if list_prod.11 %}
                                <div class="itemsl-4">
                                    <div class="img-itemsl4">
                                    {% if list_prod.11.image %}
                                        <a href="{% url 'product:detail' list_prod.11.id %}"><img src="{{list_prod.11.image.url}}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="txt-itemsl4">
                                        <h3><a href="{% url 'product:detail' list_prod.0.id %}">{{list_prod.11.title}}</a></h3>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <div class="clactionsl">
                            <a href="javascript:" class="clprev"><i class="fa fa-angle-left"></i></a>
                            <a href="javascript:" class="clnext"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="s-spam">
                        <div class="title-h2">
                            <h2><a href="#">Sản phẩm</a></h2>
                        </div>
                        <div class="txt-spam">
                            <p>Những năm tới, viện xác định quyết tâm mở rộng thị trường trong và ngoài quân đội về lĩnh vực thiết kế tàu, không ngừng nâng cao chất lượng độ ngũ cán bộ thiết kế ,mục tiêu đến năm 2020 sẽ làm chủ thiết kế các tàu tuần tra
                                cao tốc, tàu bổ trợ quân sự hiện đại, tiến tới phối hợp triển khai nghiên cứu thiết kế, tích hợp hệ thống vũ khí, khí tàu cho các tàu, đảm bảo phù hợp với nhu cầu trang bị của quân đội. Để hoàn thành các mục tiêu đề ra,
                                viện xác định tiếp tục làm tốt công tác xây dựng đội ngũ cán bộ chuyên môn, nghiên cứu viên.
                            </p>
                            <a href="#" class="seemore">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="_jdncb"></div>
    <section>
        {% comment %} <div class="dncb">
            <div class="container">
                <div class="dncb-ct">
                    <div class="title-h2">
                        <h2><a href="#">đội ngũ cán bộ</a></h2>
                    </div>
                    <div class="txt-dncb">
                        <p>Là đơn vị tư vấn đầu ngành của Quân đội về khảo sát, thiết kế tàu, thuyền. 10 năm qua, các thế hệ cán bộ, nhân viên Viện Thiết Kế tàu Quân Sự - Bộ Quốc Phòng đã nỗ lực nghiên cứu, tạo nên những sản phẩm tốt nhất</p>
                        <ul>
                            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>Đội ngũ thiết kế tâm huyết, dày dặn kinh nghiệm</li>
                            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>Đội ngũ nghiên cứu chuyên sâu, có nhiều giải thưởng lớn nhỏ trong ngành</li>
                            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>Đội ngũ phát triển có tầm nhìn chiến lược, sâu và xa</li>
                            <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>Đội ngũ giám sát chi tiết, tỉ mỉ để sản phẩm của viện có chất lượng tốt nhất</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="allitld">
            <div class="container">
            <div class="title-h2 giai-phap">
                        <h2><a style="color: #333333;" href="#">Giải pháp và công nghệ</a></h2>
                    </div>
                <div class="aitld-ct">
                    <div class="itld">
                        <div class="img-itld">
                            <a href="/articles/detail/6">
                                <img src="{% static 'images/aveva.png' %}" alt=""/>
                            </a>
                        </div>
                        <div class="txt-itld">
                            <h3><a href="/articles/detail/6">AVEVA Initial Design</a></h3>
                            <p>AVEVA Initial Design là bộ ứng dụng dùng trong giai đoạn thiết kế sơ bộ, bao gồm 5 môđun. Lines xây dựng và chỉnh trơn tuyến hình,...
                            </p>
                            <a href="/articles/detail/6" class="seemore">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="itld">
                        <div class="img-itld">
                            <a href="/articles/detail/7">
                                <img src="{% static 'images/avevahull.png' %}" alt=""/>
                            </a>
                        </div>
                        <div class="txt-itld">
                            <h3><a href="/articles/detail/7">AVEVA Hull Structural Design</a></h3>
                            <p>Hull Structural Design là ứng dụng dùng để xác định sơ bộ và triển khai kết cấu cơ bản của tàu. Nó cho phép xây dựng...

                            </p>
                            <a href="/articles/detail/7" class="seemore">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="itld">
                        <div class="img-itld">
                            <a href="/articles/detail/8">
                                <img src="{% static 'images/avevaout.png' %}" alt=""/>
                            </a>
                        </div>
                        <div class="txt-itld">
                            <h3><a href="/articles/detail/8">AVEVA	Outfitting</a></h3>
                            <p>Outfiting có các môđun dùng để thiết kế, lắp đặt các hệ thống trang thiết bị, ống, HVAC, các kết cấu thép đa dạng...</p>
                            <a href="/articles/detail/8" class="seemore">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="itld">
                        <div class="img-itld">
                            <a href="/articles/detail/9">
                                <img src="{% static 'images/rhino.png' %}" alt=""/>
                            </a>
                        </div>
                        <div class="txt-itld">
                            <h3><a href="/articles/detail/9">Rhinoceros</a></h3>
                            <p>Phần mềm cho phép mô phỏng nhanh chóng, chính xác hình dáng thân tàu, bố trí chúng toàn tàu trong không gian 3D...
                            </p>
                            <a href="/articles/detail/9" class="seemore">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% comment %}<div id="_jpartner"></div>
    <section>
        <div class="partner">
            <div class="container">
                <div class="partner-ct">
                    <div class="title-h2">
                        <h2><a href="#">đánh giá đối tác</a></h2>
                    </div>
                    <div class="ait-pn">
                        <div class="it-pn">
                            <div class="img-pn">
                                <img src="{% static 'images/avafb-1.png' %}" alt="">
                            </div>
                            <div class="txt-pn">
                                <h4>Nga My</h4>
                                <p>Rất mong có cơ hội hợp tác cùng viện</p>
                            </div>
                        </div>
                        <div class="it-pn">
                            <div class="img-pn">
                                <img src="{% static 'images/avafb-1.png' %}" alt="">
                            </div>
                            <div class="txt-pn">
                                <h4>Tiêu Phong</h4>
                                <p>Thực sự đội ngũ phát triển làm việc quá tâm huyết</p>
                            </div>
                        </div>
                        <div class="it-pn">
                            <div class="img-pn">
                                <img src="{% static 'images/avafb-1.png' %}" alt="">
                            </div>
                            <div class="txt-pn">
                                <h4>Thủy Tiên</h4>
                                <p>Lãnh đạo có tâm, có tầm, còn gì tuyệt vời hơn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>{% endcomment %}
    <div id="_jnews"></div>
    <section>
        <div class="news">
            <div class="container">
                <div class="news-ct">
                    <div class="title-h2">
                        <h2><a style="color: #333;" href="#">tin mới cật nhập</a></h2>
                    </div>
                    {% if articles %}
                    <div class="ait-news">
                    {% for article in articles %}
                        <div class="it-news">
                            <div class="img-news">
                                <a href="{% url 'article:detail' article.id %}">
                                <img src="{{article.image.url}}" alt=""/>
                                </a>
                            </div>
                            <div class="txt-news">
                                <h3><a href="{% url 'article:detail' article.id %}" title="{{article.title}}">{{article.title|truncatechars:80}}</a></h3>
                                <hr/>
                                <p>{{ article.content|striptags|safe|truncatechars:150 }}<p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock body%}