
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header_menu %}
    {% include 'header_without_banner.html' %}
{% endblock header_menu %}
{% comment %} {% block header_banner %}
    <div class="banner-mn">
        <div class="content-bn">
            <div class="_jctbn">
            </div>
        </div>
    </div>
{% endblock header_banner %} {% endcomment %}
{% block body %}
    {% if products %}
    <section>
        <div class="dt-item">
            <div class="container">
                <div class="dt-itct">
                    <div class="sliderleft">
                        <ul id="imageGallery">
                            <li data-thumb="{{products.image_url|default_if_none:'#'}}">
                                <img src="{{products.image_url|default_if_none:'#'}}" />
                            </li>
                            {% for photo in photos%}
                            <li data-thumb="{{photo.image.url}}">
                                <img src="{{photo.image.url}}" />
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="actglr">
                            <a href="javascript:" class="prevglr"><i class="fa fa-angle-left"></i></a>
                            <a href="javascript:" class="nextglr"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="right-tb">
                        <p class="iditem">Mã sản phẩm: <span>{{products.code}}</span></p>
                        <p class="nmtable">thông số cơ bản</p>
                        <div class="table-item">
                            <table>
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Thông số</th>
                                        <th>Đơn vị</th>
                                        <th>giá trị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for prod_type in prod_type_list%}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td class="text-left">{{prod_type.name}}</td>
                                        <td>{{prod_type.unit}}</td>
                                        <td>{{prod_type.value}}</td>
                                    </tr>
                                {% endfor %}
                                    {% comment %} <tr>
                                        <td>2</td>
                                        <td>Chiều rộng/ Breath</td>
                                        <td>m</td>
                                        <td>{{products.breath}}</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Chiều cao mạn/ Depth</td>
                                        <td>m</td>
                                        <td>{{products.depth}}</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Chiều chìm/ Draught:</td>
                                        <td>m</td>
                                        <td>{{products.draught}}</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Lượng chiếm nước đầy tải/ Full load Displacement:</td>
                                        <td>t</td>
                                        <td>{{products.fullLoad}}</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Thuyền viên/cán bộ/ Nos of crews and officers:</td>
                                        <td>người(ppl)</td>
                                        <td>{{products.crews}}</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Vận tốc lớn nhất/ Max speed:</td>
                                        <td>hải lý/giờ(knots)</td>
                                        <td>{{products.maxDrag}}</td>
                                    </tr> {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                        <div class="bt-rdtb">
                            {% comment %} <a href="javascript:">Liên hệ</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="mtitem"></div>
    <section>
        <div class="mt-item">
            <div class="container">
                <div class="mtiem-ct">
                    <h2 class="titmtitem">Mô tả Sản Phẩm</h2>
                    <p>{{products.content|safe}}</p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <div id="mtitem"></div>
    {% if all_products %}
    <section>
        <div class="mt-item">
            <div class="container">
                <div class="mtiem-ct">
                    <h3>sản phẩm tương tự</h3>
                    <div class="listitlt">
                    {% for all_product in all_products%}
                        <div class="itlthis">
                        <div class="img-itlt">
                            <a href="{% url 'product:detail' all_product.id %}"><img src="{{all_product.image_url|default_if_none:'#'}}" alt=""></a>
                        </div>
                        <div class="txt-itlt">
                            <h4 title="{{all_product.title}}">{{all_product.title|truncatechars:55}}</h4>
                            <span class="_wrOr">Mã SP: {{all_product.code}}</span>
                            {% comment %} <a href="javascript:" class="_wrRe">Liên hệ</a> {% endcomment %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% comment %} <div class="seemore-n">
                    <a href="#">xem thêm</a>
                </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <div class="popup-form">
        <div class="formpu">
            <h2>Liên Hệ</h2>
            <div>
                <form enctype="multipart/form-data" method = "POST">{% csrf_token %}
                {{form.as_p}}
                {% comment %} {{form|crispy}} {% endcomment %}
                <button href="" type="submit" class = "btn btn-danger">Gửi Liên hệ</button>
            </form>
            </div>
            {% comment %} <form action="">
                <div class="form-group">
                    <input type="text" placeholder="Họ và tên" name="">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Điện Thoại" name="">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Email" name="">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Địa chỉ" name="">
                </div>
                <div class="form-group">
                    <textarea name="" placeholder="Ghi chú"></textarea>
                </div>
                <button>Gửi liên hệ</button>
            </form> {% endcomment %}
            <div class="btclose">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="bg-close"></div>
    </div>
{% endblock body %}