
{% extends 'base.html' %}
{% load static %}
{% block header_menu %}
    {% include 'header_without_banner.html' %}
{% endblock header_menu %}
{% comment %} {% block header_banner %}
    <div class="banner-mn">
        <div class="content-bn">
            <div class="_jctbn">
            </div>
        </div>
    </div>
{% endblock header_banner %} {% endcomment %}

{% block body %}
<div id="lst-news"></div>

    <section>
        <div class="mt-item" style="margin-top: 15px;">
            <div class="container">
                <div class="mtiem-ct">
                    <div class="listitlt">
                    {% for product in products %}
                        <div class="itlthis">
                        <div class="img-itlt">
                            <a href="{% url 'product:detail' product.id %}"><img src="{{product.image_url|default_if_none:'#'}}" alt=""></a>
                        </div>
                        <div class="txt-itlt">
                            <h4 title="{{product.title}}">{{product.title|truncatechars:55}}</h4>
                            <span class="_wrOr">Mã SP: {{product.code}}</span>
                            {% comment %} <a href="javascript:" class="_wrRe">Liên hệ</a> {% endcomment %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% comment %} <div class="seemore-n">
                    <a href="#">xem thêm</a>
                </div> {% endcomment %}
                    <div class="seemore-n">
                        {% comment %} <a href="#">xem thêm</a> {% endcomment %}
                        <div class="pagination">
                            {% if products.has_previous %}
                                <a class="pagination-action" href="?page=1">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                                <a class="pagination-action" href="?page={{ products.previous_page_number }}">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            <span class="pagination-current">{{ products.number }}</span>
                            <span class="pagination-of">của</span>
                            <span class="pagination-total">{{ products.paginator.num_pages }}</span>
                            {% if products.has_next %}
                                <a class="pagination-action" href="?page={{ products.next_page_number }}">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                                <a class="pagination-action" href="?page={{ products.paginator.num_pages }}">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="popup-form">
        <div class="formpu">
            <h2>Liên Hệ</h2>
            <div>
                <form enctype="multipart/form-data" method = "POST">{% csrf_token %}
                {{form.as_p}}
                {% comment %} {{form|crispy}} {% endcomment %}
                <button href="" type="submit" class = "btn btn-danger">Gửi Liên hệ</button>
            </form>
            </div>
            <div class="btclose">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <div class="bg-close"></div>
    </div>
{% endblock body%}