{% load static %}
        <div class="header">
            <div class="container">
                <div class="header-ct">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                        {% comment %} <h1>Viện thiết kế tàu quân sự</h1> {% endcomment %}
                    </div>
                    <div class="menu-top">
                        <ul>
                            <li class="see-1"><a href="/">Trang chủ</a></li>
                            <li class="see-1"><a href="#">giới thiệu</a>
                                <ul class="sub-menu1">
                                    <li class="see-2"><a href="#">Lãnh đạo viên</a></li>
                                    <li class="see-2"><a href="#">Lịch sử phát triển</a></li>
                                    <li class="see-2"><a href="#">Chức năng - nhiệm vụ</a></li>
                                    <li class="see-2"><a href="#">Năng lực</a>
                                        <ul class="sub-menu2">
                                            <li><a href="#">Nhân lực</a>
                                            </li>
                                            <li><a href="#">Cơ Sở hạ tầng</a></li>
                                        </ul>
                                        <div class="click-mb2">
                                            <i class="fa fa-angle-right"></i>
                                        </div>
                                    </li>
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1"><a href="#">tin tức & sự kiện</a>
                                <ul class="sub-menu1">
                                {% for cat in webcat_set.all%}
                                    <li class="see-2"><a href="/articles/tin-hoat-dong/">{{cat.title}}</a></li>
                                {% endfor %}
                                    <li class="see-2"><a href="/articles/tin-hoat-dong/">Tin hoạt động của viện</a></li>
                                    <li class="see-2"><a href="/articles/tin-trong-nuoc/">Tin trong nước</a></li>
                                    <li class="see-2"><a href="/articles/tin-nuoc-ngoai/">Tin nước ngoài</a></li>
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1"><a href="#">khoa học công nghệ</a>
                                <ul class="sub-menu1">
                                    <li class="see-2"><a href="/articles/khoa-hoc-quan-su/">Thông tin khoa học quân sự</a></li>
                                    <li class="see-2"><a href="/articles/nghien-cuu-thiet-ke-tau/">Nghiên cứu thiết kế tàu</a></li>
                                    <li class="see-2"><a href="/articles/de-tai-du-an/">Đề tài dự án</a></li>
                                    <li class="see-2"><a href="/articles/nghien-cuu-trao-doi/">Nghiên cứu trao đổi</a></li>
                                    <li class="see-2"><a href="/articles/hoat-dong-hop-tac/">Hoạt động hợp tác</a></li>
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1"><a href="#">sản phẩm và dịch vụ</a>
                                <ul class="sub-menu1">
                                    <li class="see-2"><a href="#">Sảm phẩm thiết kế tàu</a></li>
                                    <li class="see-2"><a href="#">Sản phẩm nghiên cứu khoa học</a></li>
                                    <li class="see-2"><a href="#">Sản phẩm khác</a></li>
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1"><a href="#">liên hệ</a>
                                <ul class="sub-menu1">
                                    <li class="see-2"><a href="#">Thông tin đơn vị</a></li>
                                    <li class="see-2"><a href="#">Vị trí bản đồ</a></li>
                                </ul>
                                <div class="click-mb1">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </li>
                            <li class="see-1">
                                <a href="javascript:" class="search-mntop">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <form>
                                    <div class="fs-mnt">
                                        <input type="text">
                                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>