
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header_menu %}
    {% include 'header_without_banner.html' %}
{% endblock header_menu %}
{% comment %} {% block header_banner %}
    <div class="banner-mn">
        <div class="content-bn">
            <div class="_jctbn">
            </div>
        </div>
    </div>
{% endblock header_banner %} {% endcomment %}
{% block body %}
<div id="post"></div>
    {% if article %}
    <section>
        <div class="post-txt">
            <div class="container">
                <div class="pstxt-ct">
                    <div class="txt-lft">
                        <h1>{{article.title}}</h1>
                        <span class="time-bv"><i class="fa fa-clock-o" aria-hidden="true"></i>{{article.created_date|date:"d M Y"}}</span>
                        <p>{{article.content|safe}}<p>
                    </div>
                    <div class="txt-rght">
                        <h2>Mới nhất</h2>
                        <ul>
                        {% for articles in article_list%}
                            <li>
                                <span class="time-bv"><i class="fa fa-clock-o" aria-hidden="true"></i>{{articles.created_date|date:"D d M Y"}}</span>
                                <a href="{% url 'article:detail' articles.id %}" title="{{articles.title}}">{{articles.title|truncatechars:65}}</a>
                            </li>
                        {% endfor %}
                                {% comment %} <li>
                                    <span class="time-bv"><i class="fa fa-clock-o" aria-hidden="true"></i>03/6/2020</span>
                                    <a href="#">day la bai viet khac</a></li>
                                    <li>
                                        <span class="time-bv"><i class="fa fa-clock-o" aria-hidden="true"></i>03/6/2020</span>
                                        <a href="#">day la bai viet khac</a></li>
                                        <li>
                                            <span class="time-bv"><i class="fa fa-clock-o" aria-hidden="true"></i>03/6/2020</span>
                                            <a href="#">day la bai viet khac</a></li> {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock body %}