<div class="datetime row">
  <div class="col-sm-6">
    {{ date_label }} {% with widget=widget.subwidgets.0 %}{% include widget.template_name %}{% endwith %}
  </div>
  <div class="col-sm-6">
    {{ time_label }} {% with widget=widget.subwidgets.1 %}{% include widget.template_name %}{% endwith %}
  </div>
</div>
