{% extends 'base.html' %}
{% load static %}
{% block header_menu %}
    {% include 'header_without_banner.html' %}
{% endblock header_menu %}
{% block body %}
    <section>
        <div class="listnews">
            <div class="container">
                <div class="ct-alln">
                    <div class="lsnews-ct">
                    {% for article in articles%}
                        <div class="item-news">
                            <div class="img-news">
                                <a href="{% url 'article:detail' article.id %}"><img src="{{article.image.url}}" alt=""></a>
                            </div>
                            <div class="txt-news">
                                <h2><a href="{% url 'article:detail' article.id %}" title="{{article.title}}">{{article.title|truncatechars:55}}</a></h2>
                                <span>{{article.created_date|date:"d M Y"}}</span>
                                <p>{{ article.content|striptags|safe|truncatechars:150 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="seemore-n">
                        <!-- <a href="#">xem thêm</a> -->
                        <div class="pagination">
                            {% if articles.has_previous %}
                                <a class="pagination-action" href="?page=1">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                                <a class="pagination-action" href="?page={{ articles.previous_page_number }}">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            <span class="pagination-current">{{ articles.number }}</span>
                            <span class="pagination-of">của</span>
                            <span class="pagination-total">{{ articles.paginator.num_pages }}</span>
                            {% if articles.has_next %}
                                <a class="pagination-action" href="?page={{ articles.next_page_number }}">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                                <a class="pagination-action" href="?page={{ articles.paginator.num_pages }}">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock body%}