{% extends "admin/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
    <div class="col-md-12 offset-md-3">
      <h3>Tạo sản phẩm</h3>
      <hr>
      <form enctype="multipart/form-data" method = "POST">{% csrf_token %}
        {{productForm.media}}
        {{productForm|crispy}}
        <!-- {% for hidden in postForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in postForm %}
            {{ field }} <br />
        {% endfor %} -->
        {% for hidden in typeformset.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for hidden in formset.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {{ typeformset.management_form }}
        {% for forms in typeformset %}
          <div class="typeformset">
            {{ forms }}
          </div>
        {% endfor %}

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}
        {% endfor %}
        <br>
        <button href="" type="submit" class = "btn btn-danger">Đăng</button>
      </form>
    </div>
  </div>
{% endblock body %}
    