<style>
.btn-dark{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover{
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
</style>

{% extends 'admin/layout.html' %}
{% block body %}
<div class="row">
    <div class="col-md-12 offset-md-3">
      <h3>Control Panel</h3>
      <hr>
      <p>
        Chào mừng bạn, <small>{{request.user.username}}</small>
      </p>
      <hr>
      
        {% if contact_list %}
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Ngày Tạo</th>
                <th scope="col">Xóa</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contact_list %}
                <tr>
                  <th scope="row">{{contact.id}}</th>
                  <td>{{contact.full_name}}</td>
                  <td>{{contact.phone}}</td>
                  <td>{{contact.email}}</td>
                  <td>{{contact.address}}</td>
                  <td>{{contact.note}}</td>
                  <td>{{contact.created_date}}</td>
                  <td><a class = "btn btn-danger"  href="{% url 'product:deleteContact' contact.id %}">Xóa</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="alert alert-danger">Chưa có sản phẩm nào được đăng!</div>
        {% endif %}
    </div>
  </div>
{% endblock body %}