{% extends "admin/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<form id="post_form" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in postForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in postForm %}
        {{ field }} <br />
    {% endfor %}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}

    {{ typeformset.management_form }}
    {% for type in typeformset %}
        {{ type }}
    {% endfor %}


    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock body %}