{% extends "admin/layout.html" %}

{% block body %}
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{products.title}}</h1>

        <hr>

        <!-- Date/Time -->
        <p>{{products.created_date}}</p>

        <hr>

        <!-- Preview Image -->
        
        {% if products.image %}
            <img class="img-fluid rounded" src="{{products.image.url}}" alt="Không có ảnh">
        {% endif %}
        <p>Helloooo</p>
        {% for p in photos %}
        <img class="img-fluid rounded" src="{{p.image.url}}" alt="Không có ảnh">
        {% endfor %}
        <hr>
        
        <!-- Post Content -->
        <p class="lead">{{products.content|safe}}</p>

      </div>
    </div>
    <!-- /.row -->
{% endblock body %}