{% extends "admin/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
    <div class="col-md-12 offset-md-3">
      <h3>Cập nhật sản phẩm</h3>
      <hr>
      <form enctype="multipart/form-data" method = "POST">{% csrf_token %}
        {{form.media}}
        {{form|crispy}}
        {{ typeformset.management_form }}
        {% for type in typeformset %}
        <div class="typeformset">
          {{ type }}
        </div>
        {% endfor %}
        {{ formset.management_form }}
        {% for f in formset %}
          {{ f.as_p }}
        {% endfor %}
        
        <br>
        <button href="" type="submit" class = "btn btn-danger">Cập nhật</button>
      </form>
    </div>
  </div>
{% endblock body %}
    