{% extends "admin/base_site.html" %}
{% load i18n static bootstrap_admin_template_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="home">
      <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
      Đổi mật khẩu
    </li>
  </ol>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

  <div id="content-main">

    <form action="" method="post">{% csrf_token %}
      <div>
        {% if form.errors %}
            <p class="errornote alert alert-danger">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}

        <div class="panel panel-default">
          <div class="panel-heading">
            {% trans "Nhập lại mật khẩu cũ và nhập mật khẩu mới sau đó click đổi mật khẩu." %}
          </div>
          <div class="panel-body">
            <fieldset class="module aligned wide">
              <div class="row">
                <div class="col-sm-4{% if form.old_password.errors %} has-error{% endif %}">
                  <label for="id_old_password" class="required">Mật khẩu cũ:</label>{{ form.old_password|add_class:'form-control' }}
                  {% for error in form.old_password.errors %}
                    <p class="help-block error">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="col-sm-4{% if form.new_password1.errors %} has-error{% endif %}">
                  <label for="id_new_password1" class="required">Mật khẩu mới:</label>{{ form.new_password1|add_class:'form-control' }}
                  {% for error in form.new_password1.errors %}
                    <p class="help-block error">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="col-sm-4{% if form.new_password2.errors %} has-error{% endif %}">
                  <label for="id_new_password2" class="required">Nhập lại mật khẩu:</label>{{ form.new_password2|add_class:'form-control' }}
                  {% for error in form.new_password2.errors %}
                    <p class="help-block error">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
            </fieldset>
            <hr>
            <div class="submit-row">
              <input type="submit" value="Đổi mật khẩu" class="default btn btn-primary" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
