{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="home">
      <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
      {% trans 'Password change' %}
    </li>
  </ol>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
  <p class="alert alert-success">
    <span class="glyphicon glyphicon-ok-sign"></span> Mật khẩu đã được cập nhật
  </p>
{% endblock %}
