{% extends "admin/base_site.html" %}
{% load i18n bootstrap_admin_template_tags %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="home">
      <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
      {% trans 'Password reset confirmation' %}
    </li>
  </ol>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

  {% if validlink %}
    <form action="" method="post">{% csrf_token %}
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
          </div>
          <div class="panel-body">
            <fieldset class="module aligned wide">
              <div class="row">
                <div class="col-sm-6{% if form.new_password1.errors %} has-error{% endif %}">
                  <label for="id_new_password1" class="required">{% trans 'New password:' %}</label>{{ form.new_password1|add_class:'form-control' }}
                  {% for error in form.new_password1.errors %}
                    <p class="help-block error">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="col-sm-6{% if form.new_password2.errors %} has-error{% endif %}">
                  <label for="id_new_password2" class="required">{% trans 'Confirm password:' %}</label>{{ form.new_password2|add_class:'form-control' }}
                  {% for error in form.new_password2.errors %}
                    <p class="help-block error">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
            </fieldset>
            <hr>
            <div class="submit-row">
              <input type="submit" value="{% trans 'Change my password' %}" class="default btn btn-primary" />
            </div>
          </div>
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
      </div>
    </form>
  {% else %}
    <p class="alert alert-danger">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
{% endblock %}
