{% extends "admin/base_site.html" %}
{% load i18n bootstrap_admin_template_tags %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="home">
      <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
      {% trans 'Password reset' %}
    </li>
  </ol>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

  <form action="" method="post">{% csrf_token %}
    <div>
      <div class="panel panel-default">
        <div class="panel-heading">
          {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
        </div>
        <div class="panel-body">
          <fieldset class="module aligned wide">
            <div class="row">
              <div class="col-sm-12{% if form.email.errors %} has-error{% endif %}">
                <label for="id_email" class="required">{% trans 'Email address:' %}</label>{{ form.email|add_class:'form-control' }}
                {% for error in form.email.errors %}
                  <p class="help-block error">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
          </fieldset>
          <hr>
          <div class="submit-row">
            <input type="submit" value="{% trans 'Reset my password' %}" class="default btn btn-primary" />
          </div>
        </div>
      </div>

      <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </div>
  </form>
{% endblock %}
