{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="home">
      <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
      {% trans 'Password reset' %}
    </li>
  </ol>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
  <p class="alert alert-success">
    <span class="glyphicon glyphicon-ok-sign"></span> {% trans "Your password has been set.  You may go ahead and log in now." %}
  </p>

  <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
{% endblock %}
