{% load i18n static %}
<div class="js-inline-admin-formset inline-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="stacked"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
  <fieldset class="module {{ inline_admin_formset.classes }}">
    <h2 class="h4">{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    {% for inline_admin_form in inline_admin_formset %}
      <div class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
        <h3 class="h5">
          <div class="btn-group pull-right">
            {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}
              <span class="delete btn btn-default">
                <label for="{{ inline_admin_form.deletion_field.field.id_for_label }}">
                  {{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.field.label }}
                </label>
              </span>
            {% endif %}
            {% if inline_admin_form.show_url %}
              <a class="btn btn-default" href="{{ inline_admin_form.absolute_url }}">
                {% trans "View on site" %}
              </a>
            {% endif %}
          </div>
          <b>{{ inline_admin_formset.opts.verbose_name|capfirst }}:</b>&nbsp;<span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% else %}#{{ forloop.counter }}{% endif %}</span>
        </h3>
        {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
        {% for fieldset in inline_admin_form %}
          {% include "admin/includes/fieldset.html" %}
        {% endfor %}
        {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
        {{ inline_admin_form.fk_field.field }}
      </div>
    {% endfor %}
  </fieldset>
</div>
