@media screen and (min-width:1600px){
    .header{padding:0 300px}
}
@media screen and (max-width:1024px) {
    .slidebanner {
        height: 50vh !important
    }
    .header .logo a img{
        
max-width: 100%;
        
height: initial;
    }.header .logo{width:25%}

    .img-sl img {
        height: 50vh
    }
.menu-top ul li a{font-size:13px}
    .header .menu-top {
        width: 75%;
    }

    .menu-top ul li {
        padding: 0 6px
    }

    .popup-form .formpu {
        width: 46%;
        left: 27%;
        height: 24%;
        top: 33%;
    }

    .banner-mn {
        background-size: 100% 100%;
        height: 40vh;
    }

    .it-news .img-news {
        height: 180px;
    }
}

@media screen and (max-width:991px) {
    .form-right input {
        width: calc(100% - 120px)
    }

    .txt-slbn h3 {
        font-size: 48px
    }
.header .logo{width:50%}
    .touch-onmb {
        display: block;
        width: 38px;
        height: 32px;
        position: absolute;
        background: transparent;
        top: calc((100% - 32px)/2);
        right: 20px;
        z-index: 102
    }

    .touch-onmb span {
        width: 38px;
        height: 2px;
        background: #fff;
        display: block;
        position: absolute;
        top: calc((100% - 2px)/2);
        border-radius: 10px;
        transition: .3s linear
    }

    .touch-onmb span:before {
        width: 32px;
        height: 2px;
        background: #fff;
        display: block;
        position: absolute;
        content: '';
        left: 3px;
        top: -8px;
        transition: .3s linear
    }

    .touch-onmb span:after {
        width: 32px;
        height: 2px;
        background: #fff;
        display: block;
        position: absolute;
        content: '';
        left: 3px;
        top: 8px;
        transition: .3s linear
    }

    .bg-clmn {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        background: #000000ba;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }

    .bg-clmn.active {
        display: block;
        opacity: 1
    }

    .header .menu-top {
        position: fixed;
        width: 320px;
        height: 100%;
        z-index: 101;
        background: #fff;
        top: 0;
        left: 0;
        padding-top: 5px;
        transform: translate(-100%, 0);
        transition: all .4s linear;
        opacity: 0;
        text-align: left;
        visibility: hidden;
    }

    .header .menu-top.active {
        opacity: 1;
        transform: translate(0);
        visibility: visible;
    }

    .touch-onmb.active span {
        transform: rotate(45deg)
    }

    .touch-onmb.active span:before,
    .touch-onmb.active span:after {
        transform: rotate(90deg)
    }

    .touch-onmb.active span:before {
        top: -4px
    }

    .touch-onmb.active span:after {
        top: 4px
    }

    .menu-top ul li a {
        color: #333
    }

    .menu-top ul li {
        display: block;
        line-height: initial;
        padding: 6px
    }

    .menu-top ul li:first-child {
        padding: 6px
    }

    .fs-mnt input {
        background: #e8e8e8
    }

    .fs-mnt {
        left: 0
    }

    .itld .img-itld,
    .itld .txt-itld {
        width: 100%;
        padding: 0
    }

    .itld:nth-of-type(3) .txt-itld,
    .itld:nth-of-type(4) .txt-itld {
        padding: 0
    }

    .txt-itld h3,
    .itld .img-itld {
        margin-bottom: 10px
    }

    .txt-news p {
        line-height: 1.2
    }

    .txt-news h3 {
        font-size: 16px
    }

    .it-ft1 input {
        width: calc(100% - 32px)
    }

    .click-mb1,
    .click-mb2 {
        display: block;
        position: absolute;
        top: 5px;
        right: 10px
    }

    .click-mb1 i,
    .click-mb2 i {
        transition: .2s linear
    }

    .click-mb1.active i,
    .click-mb2.active i {
        transform: rotate(90deg)
    }

    .menu-top .sub-menu1 {
        position: initial;
        width: 100%;
        background: #fff
    }

    .menu-top .sub-menu1 li:last-child {
        padding-bottom: 0
    }

    .sub-menu2 {
        position: initial;
        width: 100%;
        margin-top: 5px;
        background: #fff
    }

    .lsnews-ct {
        grid-template-columns: 50% 50%
    }

    .right-tb .table-item {
        overflow-x: auto
    }

    .listitlt {
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3)
    }

    .popup-form .formpu {
        height: 32%;
        top: 34%;
    }

    .it-news .img-news {
        height: 140px;
    }

    .img-itlt {
        height: 160px;
    }

    /*contact*/
    .cfct-ct .map-lft iframe {
        width: 100%;
        height: 300px;
    }

    .cfct-ct .form-right {
        padding-left: 15px;
    }

    .slide-itemsp {
        padding: 0 10px;
    }
}

@media screen and (max-width:767px) {
    .form-right form label {
        text-align: left;
    }

    .form-right form {
        text-align: center
    }

    .form-right form p:nth-of-type(5) {
        margin-bottom: 20px
    }

    .txt-slbn h2 {
        font-size: 28px
    }

    .txt-slbn h3 {
        font-size: 34px
    }

    .header .logo {
        width: 65%;
        height: 100px;
        line-height: 80px;
    }

    .aitld-ct .itld {
        width: 100%;
        margin: 0;
        margin-bottom: 40px
    }

    .aitld-ct {
        margin: 0
    }

    .spam .img-spam {
        width: 100%;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .spam .txt-spam {
        width: 100%
    }

    .news .ait-news {
        margin: 0
    }

    .ait-news .it-news {
        width: 100%;
        margin: 0;
        margin-bottom: 20px
    }

    .footer .it-ft1 {
        width: 100%
    }

    .footer .it-ft1:nth-of-type(3) {
        width: 100%
    }

    .it-ft1 input {
        width: 220px
    }

    .it-ft1 ul {
        margin-bottom: 15px
    }

    .allitld {
        padding: 40px 0 20px
    }

    .news {
        padding: 30px 0
    }

    .lsnews-ct {
        display: block
    }

    .listitlt {
        display: block;
        margin: 0;
    }

    .dt-itct {
        display: block;
        padding: 30px 0 35px
    }

    .right-tb {
        padding-left: 0
    }

    .sliderleft {
        margin-bottom: 20px
    }

    .mt-item {
        padding-bottom: 50px;
        margin-top: 40px !important;
    }

    .popup-form .formpu {
        width: 80%;
        left: 10%;
        height: 44%;
        top: 33%;
    }

    .banner-mn .content-bn h1 {
        font-size: 33px;
    }

    .banner-mn .content-bn h2 {
        font-size: 22px;
    }

    .banner-mn {
        background-size: 100% 100%;
        height: 35vh;
    }

    .img-itlt {
        height: 240px;
    }

    /*contact*/
    .cfct-ct .map-lft {
        width: 100%;
        float: left;
    }

    .cfct-ct .map-lft iframe {
        height: 230px;
    }

    .cfct-ct .form-right {
        width: 100%;
        padding-left: 0;
    }

    /*post*/
    .pstxt-ct .txt-lft {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 10px;
    }

    .pstxt-ct .txt-rght {
        width: 100%;
    }

    .pstxt-ct {
        padding: 30px 0;
    }
    .s-spam{width:100%}.slide-itemsp{width:100%;padding: 0;margin-bottom: 15px;}
    .itemsl-4:nth-of-type(3), .itemsl-4:nth-of-type(4){display:none}
    .lstitem-slit{display:block}
    .itemsl-4{margin-bottom:10px}
    .header .logo a img{width:330px}
    .itlthis{margin: 0 0 10px 0;}
    .header{padding:0 10px;height: 100px;}
}

@media screen and (max-width:375px) {
    .popup-form .formpu {
        height: 40%;
        top: 30%;
    }
}