ul[role="tree"] {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 120%;
}

[role="treeitem"].doc:before {
    content: url(../images/file.png);
}

[role="treeitem"][aria-expanded="false"]>ul {
    display: none;
}

[role="treeitem"][aria-expanded="true"]>ul {
    display: block;
}

[role="treeitem"][aria-expanded="false"]>span:before {
    content: url(../images/iconfinder_folder_c.png);
    margin-right: 3%;
}

[role="treeitem"][aria-expanded="true"]>span:before {
    content: url(../images/iconfinder_folder_o.png);
    margin-right: 3%;
}

[role="treeitem"][aria-expanded="false"]>span.mk-cur-root:after {
    float: right;
    margin-top: 10px;
    content: url(../images/arrow-r1.png);
}

[role="treeitem"][aria-expanded="true"]>span.mk-cur-root:after {
    float: right;
    margin-top: 10px;
    content: url(../images/arrow-d1.png);
}

[role="treeitem"],
[role="treeitem"] span {
    width: auto;
    margin: 0;
    padding: 0;
    border: 2px transparent solid;
    padding: 0.125em;
    display: block;
}


/* disable default keyboard focus styling for treeitems
     Keyboard focus is styled with the following CSS */

[role="treeitem"]:focus {
    outline: 0;
}

[role="treeitem"].focus,
[role="treeitem"] span.focus {
    border-color: black;
    background-color: #EEEEEE;
}

.root-folder ul {
    padding-left: 12px;
}


/* [role="treeitem"] span:hover, */

[role="treeitem"].hover {
    background-color: #DDDDDD;
}

li.doc.monthtree:hover {
    background-color: #DDDDDD;
}

li.doc.monthtree:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.thumb:hover {
    background-color: wheat;
}

a.thumb:active {
    background-color: yellow;
}

a.thumb:visited {
    background-color: wheat;
}

.mk-cur:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.mk-cur:hover {
    background-color: #EEEEEE;
}

.icon-files {
    width: 24px;
    margin-right: 10px;
    margin-top: -4px;
}

.btn-outline-primary {
    color: #333333;
}

.btn-border {
    border-color: #0a90eb;
}

.image-view {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.image-view:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.editor-wrapper {
    /* margin: 20px; */
}

.get-file {
    background-color: #eeeeee;
    max-height: 500px;
    border-color: #d7dcdf;
    overflow-y: scroll;
}

.file-view {
    background-color: #fff;
    min-height: 500px;
    max-height: 500px;
    border-color: #d7dcdf;
    overflow-y: scroll;
}

div#path-img {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 5px;
}
div#name-img {
    background-color: #eee;
    padding: 5px;
}
div#path-img p,div#name-img p{
    margin-bottom: 0rem;
}
.icon-img{
    width: 25px;
    height: 25px;
}
.button-browse{
    background-color: #eeeeee;
}
.btn-outline-primary{
    background-color: #fff;
    background-image: none;
    border-color: #d7dcdf;
}
.border-custom {
    border: 3px solid #007bff !important;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0 0px 0px 0px;
    border: 1px solid #888;
    width: 54%;
    height: 35%;
  }
  
  .modal-close { 
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #fileview
  {
  border:2px dotted #0B85A1;
  width:400px;
  color:#92AAB0;
  text-align:left;vertical-align:middle;
  padding:10px 10px 10 10px;
  margin-bottom:10px;
  font-size:200%;
  }
  .progressBar {
      width: 200px;
      height: 22px;
      border: 1px solid #ddd;
      border-radius: 5px; 
      overflow: hidden;
      display:inline-block;
      margin:0px 10px 5px 5px;
      vertical-align:top;
  }
   
  .progressBar div {
      height: 100%;
      color: #fff;
      text-align: right;
      line-height: 22px; /* same as #progressBar height if we want text middle aligned */
      width: 0;
      background-color: #0ba1b5; border-radius: 3px; 
  }
  .statusbar
  {
      border-top:1px solid #A9CCD1;
      min-height:25px;
      width:700px;
      padding:10px 10px 0px 10px;
      vertical-align:top;
  }
  .statusbar:nth-child(odd){
      background:#EBEFF0;
  }
  .filename
  {
  display:inline-block;
  vertical-align:top;
  width:250px;
  }
  .filesize
  {
  display:inline-block;
  vertical-align:top;
  color:#30693D;
  width:100px;
  margin-left:10px;
  margin-right:5px;
  }
  .abort{
      background-color:#A8352F;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
      border-radius:4px;display:inline-block;
      color:#fff;
      font-family:arial;font-size:13px;font-weight:normal;
      padding:4px 15px;
      cursor:pointer;
      vertical-align:top
      }
#fileview.has-advanced-upload {
    opacity: 0.2;
    background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
  background-image: url('9665-200.png');
    background-repeat: no-repeat;
    background-position: center;
}