<style>
.btn-dark{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover{
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
</style>

{% extends 'admin/layout.html' %}
{% block body %}
<div class="row">
    <div class="col-md-12 offset-md-3">
      <h3>Control Panel</h3>
      <hr>
      <p>
        Chào mừng bạn, <small>{{request.user.username}}</small>
      </p>
      <hr>
      
        {% if categoryProducts %}
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tiêu Đề</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Ngày Tạo</th>
                <th scope="col">Sửa đổi</th>
                <th scope="col">Xóa</th>
              </tr>
            </thead>
            <tbody>
              {% for product in categoryProducts %}
                <tr>
                  <th scope="row">{{product.id}}</th>
                  <td>{{product.title}}</td>
                  <td>{{product.descriptions}}</td>
                  <td>{{product.created_at|date:"d M Y"}}</td>
                  <td><a class = "btn btn-warning" href="{% url 'product:updateCategoryProduct' product.id %}">Cập nhật</a></td>
                  <td><a class = "btn btn-danger"  href="{% url 'product:deleteCategoryProduct' product.id %}">Xóa</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="alert alert-danger">Chưa có danh mục nào được tải lên!</div>
        {% endif %}
          
      <a class="btn btn-dark" href="{% url 'product:addcategoryProduct' %}">Tạo 1 danh mục</a>
    </div>
  </div>
{% endblock body %}