{% extends "admin/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
    <div class="col-md-12 offset-md-3">
      <h3>Tạo danh mục</h3>
      <hr>
      <form enctype="multipart/form-data" method = "POST">{% csrf_token %}
        {{form.media}}
        {{form|crispy}}
        <br>
        <button href="" type="submit" class = "btn btn-danger">Đăng</button>
      </form>
    </div>
  </div>
{% endblock body %}
    