{% extends 'admin/layout.html' %}

{% block body %}
  <h3 style="text-align: center; margin-top : 11rem; margin-bottom: 3rem;">Bài V</h3>
  <hr>
  <p style="text-align:justify;">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam adipisci, voluptas eum sapiente iure est. Modi, eos dolor eaque, quo distinctio magni, dicta delectus quasi obcaecati aut quae eius reprehenderit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ratione, in similique fuga velit ea. Optio accusantium ullam provident enim sunt ab veritatis voluptates delectus, laudantium rerum nam eligendi officiis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nesciunt nisi tempora odit, praesentium reiciendis aperiam saepe magnam facere iste consequuntur vero, earum ducimus veniam ullam suscipit illum aliquid! Minima.
    At, nesciunt quo ipsum fugiat consequuntur beatae ipsam velit! Voluptas architecto ducimus corporis, exercitationem, modi, porro sapiente blanditiis totam distinctio cumque enim dolore deserunt dolorum quia nam culpa harum! Voluptatum?
    Est blanditiis sequi eos voluptas adipisci totam, tempore aut expedita id, accusamus facilis aliquid veritatis enim accusantium molestiae quaerat tenetur voluptate odio quos nisi consectetur praesentium. Eligendi, enim dolorum. Provident.
    Deleniti corrupti perspiciatis hic eius! Vero repellendus odio suscipit dolorem eveniet inventore asperiores ad beatae assumenda explicabo deserunt doloremque, quidem voluptatum error dignissimos. Porro similique rem inventore dolores quas laborum?
  </p>
  <hr>
{% endblock body %}