{% extends "admin/layout.html" %}

{% block body %}

<style>
    /* webkit solution */
    ::-webkit-input-placeholder { text-align:center; }
    /* mozilla solution */
    input:-moz-placeholder { text-align:center; }
    input[type='text']:focus{
        text-align:center;
    }
</style>
<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-4">
                    <h1>Bài Viết</h1>
                </div>
                <div class="col-8" style="text-align: right;">
                    <form style="height: 100%;">{% csrf_token %}
                        <input style="height: 90%;display:inline-block; margin-top:1%; border:1px solid gray;border-radius:5px" type="text" name = "keyword" class = "input-sm" placeholder = "Ara..." maxlength="64">
                        <button style="height: 90%;" type="submit" class="btn btn-danger">Ara</button>
                    </form>
                </div>
            </div>
        <hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            
        </div>
    </div>
</div>

{% if articles %}
    {% for article in articles %}
        <div class="row">
            <div class="col-md-10 offset-md-3">
                <!-- Post Content Column -->
                <div class="col-lg-8">

                    <!-- Title -->
                    <a href="{% url 'article:detail' article.id %}"><h3 class="mt-4">{{article.title}}</h3></a>

                    <!-- Author -->
                    {% comment %} <p class="lead">
                    {{article.author.username}} tarafından yayınlandı.
                    </p> {% endcomment %}

                    <hr>
                    <!-- Date/Time -->
                    <p>{{article.created_date}}</p>

                    <hr>

                    <!-- Preview Image -->
                    
                    {% if article.image %}
                        <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.image.url}}" alt="Kaynak Bulunamadı"></a>
                    {% endif %}

                    <hr>

                    <!-- Post Content -->
                    <p class="lead">{{article.content|safe|truncatewords:25}}</p>
                    <a style = "display:block; margin: auto; width: 35%;" class="btn btn-danger" href="{% url 'article:detail' article.id %}">Chi tiết</a>
                    <hr>

                </div>
            </div>
            {% comment %} <div class="col-md-2">
                {% if article.category %}
                    <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.image.url}}" alt="Kaynak Bulunamadı"></a>
                {% endif %}
            </div> {% endcomment %}
        </div>
        <!-- /.row -->
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
            <div class="alert alert-danger">
                Không có bài viết nào được tìm thấy!    
            </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock body %}
