{% extends "admin/layout.html" %}

{% block body %}
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{article.title}}</h1>

        <hr>

        <!-- Date/Time -->
        <p>{{article.created_date}}</p>

        <hr>

        <!-- Preview Image -->
        
        {% if article.image %}
            <img class="img-fluid rounded" src="{{article.image.url}}" alt="Không có ảnh">
        {% endif %}

        <hr>
        
        <!-- Post Content -->
        <p class="lead">{{article.content|safe}}</p>

        <hr>

        <!-- Author -->
        <p class="lead">
        Tác giả {{article.author.username}} .
        </p>
        <h4>Bình luận</h4>
        <hr>
        {% if comments %}
          {% for comment in comments %}
            <!-- Single Comment -->
            <div class="media mb-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">{{comment.author}}<span style="font-size: medium;font-weight: normal;font-style: italic;float: right;">{{comment.date}}</span></h5>
                {{comment.contents}}
              </div>
            </div>
            <hr>
          {% endfor %}
        {% else %}
          <div class="alert alert-danger">
            Chưa có bình luận nào cho bài viết này
            <br>
            Hãy là người đầu tiên!
          </div>
        {% endif %}
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Thêm bình luận</h5>
          <div class="card-body">
            <form method = "POST" action="{% url 'article:comment' article.id %}">{% csrf_token %}
              <div class="form-group">
                <textarea name = "content" class="form-control" rows="3" placeholder="Bình luận..."></textarea>
              </div>
              {% if request.user.is_authenticated %}
                <button type="submit" class="btn btn-danger">Đăng bình luận</button>
              {% else %}
                <button type="submit" class="btn btn-danger" disabled>Lütfen Giriş Yapınız</button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
{% endblock body %}