<style>
.btn-dark{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover{
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
</style>

{% extends 'admin/layout.html' %}
{% block body %}
<div class="row">
    <div class="col-md-12 offset-md-3">
      <h3>Control Panel</h3>
      <hr>
      <p>
        Chào mừng bạn, <small>{{request.user.username}}</small>
      </p>
      <hr>
      
        {% if articles %}
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tiêu Đề</th>
                <th scope="col">Ngày Tạo</th>
                <th scope="col">Sửa đổi</th>
                <th scope="col">Xóa</th>
              </tr>
            </thead>
            <tbody>
              {% for article in articles %}
                <tr>
                  <th scope="row">{{article.id}}</th>
                  <td><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></td>
                  <td>{{article.created_date}}</td>
                  <td><a class = "btn btn-warning" href="{% url 'article:updateArticle' article.id %}">Cập nhật</a></td>
                  <td><a class = "btn btn-danger"  href="{% url 'article:deleteArticle' article.id %}">Xóa</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="alert alert-danger">Chưa có bài viết nào được tải lên!</div>
        {% endif %}
          
      <a class="btn btn-dark" href="{% url 'article:addarticle' %}">Tạo 1 bài viết</a>
    </div>
  </div>
{% endblock body %}