{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
  {{ media }}
  <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="home">
    <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  </li>
  <li>
    <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
  </li>
  <li>
    <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
  </li>
  <li class="active">{% trans 'Delete' %}</li>
</ol>
{% endblock %}

{% block content %}
{% if perms_lacking or protected %}
  {% if perms_lacking %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}
      </div>
      <div class="panel-body">
        <ul>
          {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
  {% if protected %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}
      </div>
      <div class="panel-body">
        <ul>
          {% for obj in protected %}
            <li>{{ obj }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% else %}
  <div class="panel panel-default">
    <div class="panel-heading">
      Bạn có chắc muốn xóa {{ object_name }} "{{ escaped_object }}"? Tất cả các trường liên quan sẽ bị xóa theo:
    </div>
    <div class="panel-body">
      <ul>{{ deleted_objects|unordered_list }}</ul>
      <hr>
      <form action="" method="post">{% csrf_token %}
        <div>
          <input type="hidden" name="post" value="yes" />
          <button type="submit" title="Đồng ý" class="btn btn-danger pull-left">
            <span class="glyphicon glyphicon-remove"></span>
            Vâng, tôi chắc
          </button>
        </div>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}
