﻿{% load static %}
<html >
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý admin</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
     
        <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <div class="row">
            <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0" >
                <div class="navbar-header col-sm-1">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin">Manage Admin</a> 
                </div>
                <div class="col-sm-10">
                </div>
                <!-- <div style="color: white;
                padding: 15px 50px 5px 50px;
                float: right;
                font-size: 16px;"> Last access : 30 May 2014 &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Logout</a> </div>  -->
                <div class="col-sm-1">
                    <ul class="navbar-nav ml-auto square-btn-adjust btn">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item active">
                                <a class="nav-link logout-btn" href="{% url 'user:logout' %}">Đăng Xuất</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="{% static 'assets/img/find_user.png' %}" class="user-image img-responsive"/>
					</li>
				
					
                    <li>
                        <a href="{% url 'index' %}"><i class="fa fa-dashboard fa-3x"></i> Bảng tin</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop fa-3x"></i> Quản lý bài viết<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a  href="{% url 'article:dashboard' %}"> Bài viết</a>
                            </li>
                            <li>
                                <a href="{% url 'article:categorydashboard' %}">Danh mục bài viết</a>
                            </li>
                        </ul>
                      </li>  
                     
                    <li>
                        <a  href="#"><i class="fa fa-qrcode fa-3x"></i>Quản lý sản phẩm<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a  href="{% url 'product:dashboard' %}"> Sản phẩm</a>
                            </li>
                            <li>
                                <a href="{% url 'product:categorydashboard' %}">Danh mục sản phẩm</a>
                            </li>
                            <!-- <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>
                               
                            </li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'product:dashboardContact' %}"><i class="fa fa-bar-chart-o fa-3x"></i> Liên hệ</a>
                    </li>
						   <!-- <li  >
                        <a   href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
                    </li>	
                      <li  >
                        <a  href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
                    </li>				
					
					                   
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>
                               
                            </li>
                        </ul>
                      </li>  
                  <li  >
                        <a  href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li>	 -->
                </ul>
               
            </div>
            
        </nav>  
    </div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div style="margin:100px auto 150px auto; min-height:100%;" class="container">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class ="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" {% endif %}>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
            
                    {% block body %}
                      
                    {% endblock body %}
            
                </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
        
        
          <!-- Footer -->
          <!-- position:fixed; -->
        <footer style = " bottom:0px; left:0px; right:0px; width:100%;" class="py-5 mybg-dark">
            <div class="container">
                <p class = "m-0 text-center text-white">Copyright &copy; VTKT</p>
            </div>
            <!-- /.container -->
        </footer>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- MORRIS CHART STYLES-->
    <!-- <link href="{% static 'assets/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" /> -->
    <!-- JQUERY SCRIPTS -->
    <!-- <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script> -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'assets/js/morris/morris.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
        </div>
    
</body>
</html>
