{% comment %} {% extends "admin/base_site.html" %} {% endcomment %}
{% load i18n static %} 
 
<!-- <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}"> -->
<!-- Quan add 09/2 -->
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="{% static "login_v15/images/icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/vendor/animate/animate.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "login_v15/css/main.css" %}">
<!--===============================================================================================-->
{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}
  
    <div id="content-main"> 
      <div class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url({% static 'images/logo.png' %}) " >
              <span class="login100-form-title-1">
                VTKT Administrator
              </span>
            </div>
<form class="login100-form validate-form" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
    <span class="label-input100">Username</span>
    <fieldset id="inputs">
      {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <div class="errornote">
      {{ error }}
  </div>
  {% endfor %}
  {% endif %}


{{ form.username.errors }}
{% comment %} {{ form.username.label_tag }} {% endcomment %}
{{ form.username }}
{% comment %} <input id="username" type="text" onblur="if(this.value=='')this.value='Email';" onfocus="if(this.value=='Email')this.value='';" value="Email"  class="input100" name="Email" placeholder="Enter Email"/>{% endcomment %}


    <span class="focus-input100"></span>
  </div>
  
  <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
    <span class="label-input100">Password</span>
    {{ form.password.errors }}
  {% comment %} {{ form.password.label_tag }}  {% endcomment %}
  {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}"/>
    {% comment %}<input id="password" type="text" onblur="if(this.value=='')this.value='Mật khẩu';" onfocus="if(this.value=='Mật khẩu')this.value='';" value="Mật khẩu"  class="input100" name="pass" placeholder="Mật khẩu"/>{% endcomment %}
    <span class="focus-input100"></span>
  </div>
</fieldset>
  <div class="flex-sb-m w-full p-b-30">
    <div class="contact100-form-checkbox">
      <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
      {% comment %} <label class="label-checkbox100" for="ckb1">
        Remember me
      </label> {% endcomment %}
    </div>

    {% comment %} <div>
      <a href="#" class="txt1">
        Forgot Password?
      </a>
    </div> {% endcomment %}
  </div>

  <fieldset id="actions">
    <div class="flex-sb-m w-full p-b-30">
    <input class="login100-form-btn" type="submit" id="submit" value="{% trans 'Sign In' %}">
  {% comment %} <input class="login100-form-btn" type="submit" id="submit" value="Đăng nhập"/> {% endcomment %}
  {% comment %} <p class="option"><a href="#">Mot de pass oubli&eacute;</a>&nbsp;&nbsp;|<a href="#">Inscription</a></p> {% endcomment %}
  </div>
  </fieldset>
 
</form>
</div>
</div>
</div>
  <!--===============================================================================================-->
  <script src="{% static "login_v15/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
  <!--===============================================================================================-->
    <script src="{% static "login_v15/vendor/animsition/js/animsition.min.js" %}"></script>
  <!--===============================================================================================-->
    <script src="{% static "login_v15/vendor/bootstrap/js/popper.js" %}"></script>
    <script src="{% static "login_v15/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
  <!--===============================================================================================-->
    <script src="{% static "login_v15/vendor/select2/select2.min.js" %}"></script>
  <!--===============================================================================================-->
    <script src="{% static "login_v15/vendor/daterangepicker/moment.min.js" %}"></script>
    <script src="{% static "login_v15/vendor/daterangepicker/daterangepicker.js" %}"></script>
  <!--===============================================================================================-->
    <script src="{% static "login_v15/vendor/countdowntime/countdowntime.js" %}"></script>
  <!--===============================================================================================-->
    <script src="{% static "login_v15/js/main.js" %}"></script>
{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}
  
</div>
{% endblock %}