{% load admin_list %}
{% load i18n %}
<ul class="paginator pagination">
  {% if pagination_required %}
    {% for i in page_range %}
      {% if i == "." %}
        <li class="disabled">
          <a href="#">...</a>
        </li>
      {% else %}
        <li>
          {% paginator_number cl i %}
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if show_all_url %}
    <li>
      <a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>
    </li>
  {% endif %}
</ul>
