body {
  background: #f5f5f5;
}
select {
  -webkit-appearance: none;
}
.main a {
  text-decoration: none;
}
.popup {
  padding-top: 10px;
}
.popup #content {
  width: 100%;
  margin-left: 0;
}
.popup .main-header,
.popup .breadcrumb,
.popup .show-hide-sidebar-menu {
  display: none;
}
.popup .main-header h1 {
  margin-left: 15px;
  padding-left: 0;
}

#overlay {
  background: #f5f5f5;
  width: 100%;
  position: fixed;
  z-index: 9999;
  height: 100%;
}
#overlay .spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
#overlay .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#overlay .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
#overlay .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar-menu {
  /* background-color: #393939; */
  background-color:#00707D!important;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.sidebar-menu .django-admin-logo {
  background: #282829;
  border-bottom: 1px solid #222;
  color: #fff;
  display: block;
  height: 61px;
  margin: 0 -20px;
  text-align: center;
}
.sidebar-menu .permission-warning {
  color: #fff;
  margin-top: 15px;
}
.sidebar-menu .nav-sidebar {
  margin-right: -21px;
  margin-left: -20px;
  transition: all .3s ease-in-out;
}
.sidebar-menu .nav-sidebar a {
  color: #ddd;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
  text-overflow: ellipsis;
  transition: color .3s ease-in-out;
  white-space: nowrap;
}
.sidebar-menu .nav-sidebar a:hover,
.sidebar-menu .nav-sidebar a:focus {
  /* background-color: transparent; */
  background-color: rgb(223, 117, 47);
  color: #fff;
}
.sidebar-menu .nav-sidebar a {
  border-left: 2px solid #393939;
  color: #fff;
  height: 43px;
  padding: 12px 5px 12px 20px;
  transition: border 0.4s ease-in-out 0s, color 0.3s ease-in-out 0s, background-color 0.4s ease-in-out 0s;
}
.sidebar-menu .nav-sidebar a:hover {
  background: rgb(223, 117, 47);;
  color: #ccc;
  border-color: #428bca;
}
.sidebar-menu .nav-sidebar a.section {
  padding-left: 5px;
  text-transform: uppercase;
}
.sidebar-menu .nav-sidebar.has-active-menu {
  background: #333;
  border: 1px solid #444;
  border-left: 0;
}
.sidebar-menu .nav-sidebar.has-active-menu a {
  border-left: 2px solid #333;
}
.sidebar-menu .active a:after {
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f5f5f5;
  border-top: 10px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 11px;
  width: 0;
}
.sidebar-menu .nav-sidebar .active a {
  color: #428bca;
  border-color: #333;
  background-color: #333;
}
.sidebar-menu .nav-sidebar .active a:hover,
.sidebar-menu .nav-sidebar.has-active-menu a:hover {
  border-color: #428bca;
  color: #428bca;
}
.sidebar-menu .nav-sidebar .padding-left a {
  padding-left: 24px;
}

.sidebar-menu .nav-sidebar li {
  display: none;
}
.sidebar-menu .nav-sidebar li:first-child,
.sidebar-menu .nav-sidebar.show-models li {
  display: block;
}

.show-hide-sidebar-menu {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  left: 10px;
  margin: 2px 0;
  padding: 3px;
  position: absolute;
  transition: background-color 0.3s ease-in-out 0s, border 0.3s ease-in-out 0s;
  width: 31px;
}
.show-hide-sidebar-menu:hover {
  background-color: #dfdfdf;
  border: 1px solid #dfdfdf;
}
.show-hide-sidebar-menu .icon-bar {
  background: none repeat scroll 0 0 #333333;
  border: 1px solid #444444;
  border-radius: 1px;
  display: block;
  height: 2px;
  margin: 4px auto;
  width: 18px;
}
.hidden-menu {
  left: -25%;
}
.sidebar-menu {
  transition: left .3s ease-in-out;
}

/*
 * Main content
 */

.main-header {
  background: none repeat scroll 0 0 #efefef;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 1px 0 0 #dddddd;
  height: 35px;
  margin: 0 -15px;
}
.main-header h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 0 40px;
  overflow: hidden;
  padding: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-header h1 .django-admin-title {
  display: none;
}
.no-sidebar .main-header h1 {
  margin-left: 15px;
}
.no-sidebar h1 .django-admin-title {
  display: inline;
}
#user-tools {
  opacity: 0.7;
  position: absolute;
  right: 15px;
  top: -1px;
  transition: opacity 0.3s ease-in-out 0s;
}
#user-tools .btn {
  border-bottom: medium none;
  border-radius: 0;
  border-top: medium none;
  height: 35px;
}
#user-tools .glyphicon {
  margin-top: 4px;
}
#user-tools .dropdown-menu {
  border-color: #adadad;
  border-radius: 0;
  top: 32px;
}
#user-tools .dropdown-toggle {
  background: #ffffff;
  box-shadow: none;
  z-index: 1001;
}
.main-header:hover #user-tools {
  opacity: 1;
}
/* Some 3rd party packages will change the breadcrumbs, using the django
   default html. So, if we apply the style to .breadcrumbs, this will
   maximize the compatibility with bootstrap_admin */
.breadcrumbs,
.breadcrumb {
  background: #efefef;
  border-bottom: 2px solid #e5e5e5;
  border-radius: 0;
  height: 26px;
  margin: 0 -15px 15px;
  overflow: hidden;
  padding: 3px 15px 0;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.breadcrumb > li {
  float: left;
}
.breadcrumb > li.home {
  width: 20px;
}
.breadcrumb > li.active {
  display: inline;
  float: none;
}
.breadcrumb > li + li:before {
  padding:0 0 0 7px;
}

@media (max-width: 768px) {
  .breadcrumb > li {
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: 150px;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .main-header h1 {
    font-size: 18px;
  }
  .breadcrumb > li {
    max-width: 100px;
  }
}
